---
export interface Props {
  name: string;
  url: string;
  Icon: any;
}

const { name, url, Icon } = Astro.props;
---

<li>
  <a
    href={url}
    rel="noopener noreferrer"
    target="_blank"
    class="hover:opacity-75 transition text-teal-500"
  >
    <span class="sr-only">{name}</span>
    <Icon class="w-6 h-6 fill-current" />
  </a>
</li>
