---
// import "@/styles/main.css";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <div class="paper-container">
      <header
        style="margin-bottom: 3rem; border-bottom: 2px solid #eee; padding-bottom: 1rem;"
      >
        <h1 style="margin: 0; font-size: 1.5rem;">Prince</h1>
      </header>
      <slot />
    </div>
  </body>
</html>
