---
import Header from "../components/Header.jsx";
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body
    class="bg-background text-text font-body antialiased selection:bg-secondary selection:text-black"
  >
    <Header client:load />

    <main class="relative z-10 pt-24 px-6 max-w-5xl mx-auto">
      <slot />
    </main>
  </body>
</html>
